<div class="header">
    <a href="/"><h1>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-lock">
            <rect width="18" height="11" x="3" y="11" rx="2" ry="2"/>
            <path d="M7 11V7a5 5 0 0 1 10 0v4"/>
        </svg>
        Members Only
    </h1></a>

    <% if (!user) { %>
        <a href="/login" class="login-btn"><button>Log In</button></a>
        <a href="/register" class="register-btn"><button>Register</button></a>  
    <% } else { %>
                <!-- From Uiverse.io by aadium --> 
        <div class="paste-button">
        <button class="button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-user-round"><path d="M18 20a6 6 0 0 0-12 0"/><circle cx="12" cy="10" r="4"/><circle cx="12" cy="12" r="10"/></svg> <%= user.username %> &nbsp; ▼</button>
        <div class="dropdown-content">
        <a id="top" href="/new">New Post</a>
        <% if (user && user.member == '0'){ %>
            <a id="middle" href="/join">Become A Member</a>
        <% } %>
        <a id="middle" href="/allusers">All Users</a>
        <a id="bottom" href="/logout">Logout</a>
        </div>
        </div>
    <% } %>  
</div>
