<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Create a Post!</title>
</head>
<body>
    <%- include ('partials/header') %>
    <form action="/new" method="POST" class="post-form">
        <h1>Create a Post!</h1>
        <div class="title">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" required>
            <% if (errors) { %>
                <% errors.map(err => { %>
                    <% if (err.path == 'title'){ %>
                        <p class="err-msg"><%= err.msg %></p>
                    <% } %>
                <% }) %>
            <% }else { %>
                <p class="err-msg" style="opacity: 0;">as</p>
            <% } %>
        </div>
        <div class="content">
            <label for="content">Content</label>
            <textarea type="content" name="content" id="content" cols="10" rows="18" required > </textarea>
            <% if (errors) { %>
                <% errors.map(err => { %>
                    <% if (err.path == 'content'){ %>
                        <p class="err-msg"><%= err.msg %></p>
                    <% } %>
                <% }) %>
            <% }else { %>
                <p class="err-msg" style="opacity: 0;">as</p>
            <% } %>
        </div>
        <button>Submit</button>
    </form>
</body>
</html>