<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Login</title>
</head>
<body>
    <%- include ('partials/header') %>
    <form action="/join" method="POST" class="member-form">
        <h1>Become a Member!</h1>
        <div class="username">
            <label for="code">Enter the secret code</label>
            <input type="text" name="code" id="code" required>
        </div>
        <button>Confirm</button>
    </form>
</body>
</html>